
{% block body %}
    <div class="row my-4">
        <div class="card">
            <div class="card-header">
                create new auther
            </div>
            <div class="card-body">
                {{form(forms)}}
{% endblock %}