{# autherbybook.html.twig #}

{% extends 'base.html.twig' %}

    {% block body %}
        <h1>Authors of the Book</h1>
        <ul>
            {% for author in auther %}
                <li>
                    <strong>{{ author.username }}</strong>
                    <ul>
                        {% for book in author.books %}
                            <li>{{ book.title }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
    