{% block body %}
    <div class="row my-4">
        <div class="card">
            <div class="card-header">
                create new show
            </div>
            <div class="card-body">
                {{form(form)}}
{% endblock %}